<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Books </title>
    <link rel="stylesheet" href="../static/CSS/style.css">
    <link rel="stylesheet" href="../static/CSS/style2.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>


    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
          
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'lib'%}">Home</a>
              </li>
              
              
              
            
          </div>
        </div>
      </nav>


      <div style="background-image: url(../static/images/desktop-wallpaper-distressed-background-distressed-grunge-texture.jpg); background-repeat: no-repeat; background-size: cover; min-height: 1000px;">
        <br><h1 style="text-align: center; font-family: Georgia, 'Times New Roman', Times, serif;">ISSUED BOOKS</h1><br>
        <table style="width:100%; line-height: 3;">
            <tr style="font-family:Georgia, 'Times New Roman', Times, serif; ">
                <th >Book Name</th>
                <th >Book No:</th>
                <th>Category</th>
                <th>Author</th>
                <th>Publisher</th>
                <th>Date</th>
                <th>Return</th>
                <th>Fine</th>
                
            </tr>
            <tr>
                {% for i in issuedBooks %}
                <tr >

                    <td>{{i.BookName}}</td>
                    <td>{{i.BookNo}}</td>
                    <td>{{i.Category}}</td>
                    <td>{{i.Author}}</td>
                    <td>{{i.Publisher}}</td>
                    <td>{{i.Date}}</td>
                    <td>{{i.Return}}</td>
                    <td>₹ {{i.Fine}}</td>
                    <td>
                      <button type="submit" class="btn btn-primary"  id="liveToastBtn" style="background-color: rgb(42, 165, 155); border-color: transparent;"><a href="{% url 'admin_ret_staff' i.id %}" style="text-decoration: none; color:white; font-weight: bold;">RETURN</a></button>
                      
                      
                    </td>
                </tr>
                {% endfor %}

            </tr>
        </table>
      </div>

      
    
    


    <script src="../static/JS/issue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>