<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Books </title>
  <link rel="stylesheet" href="../static/CSS/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>

  <nav class="navbar navbar-expand" style="background-color:rgb(114, 103, 103)">
    <div class="container-fluid">
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'lib'%}" style="color: white;">Back</a>
          </li>
          
      </div>
    </div>
  </nav>

  <div
    style="background-image: url(../static/images/190-1904961_old-open-book-background.jpg); background-repeat: no-repeat;background-size: cover; min-height: 680px;">
    <div class="row">
      {% for i in data %}
      <div class="col-lg-3">
        <div class="card">
          <center><img src="/media/{{i.Image}}" class="card-img-top" style="width: 150px; height: 250px;"></center>
          <div class="card-body">

            <h6 class="card-title" >Book Name: {{i.BookName}}</h6>
            <p class="card-text">Book N0: {{i.BookNo}}</p>
            <p class="card-text">Category: {{i.Category}}</p>
            <p class="card-text">Author: {{i.Author}}</p>
            <p class="card-text">Publisher: {{i.Publisher}}</p>
            <p class="card-text">Return: {{i.Return}}</p>
            <p class="card-text">Fine: {{i.Fine}}</p>
            <button class="btn btn-primary"><a href="{% url 'editbook' i.id %}" style=" color: white; text-decoration: none; ">Edit</a></button>
            <button class="btn btn-warning"><a href="{% url 'book_delete' i.id %}" style="color: white; text-decoration: none; ">Delete</a></button>

          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>




  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>

</html>